<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documents</title>
    <link rel="stylesheet" href="/static/CSS/index.css"/>
    <link rel="stylesheet" href="/static/CSS/actions.css"/>
    <link rel="stylesheet" href="/static/CSS/media.css"/>
</head>
<body>
    <div class="sidebarner"></div>
    <% include templates/header.ejs %>
    <div class="content" style="color:white;">
        <% for(var i=0;i < documents.length;i++){%>
            <div class="container">
                <div class="file">
                    <center><span><h3><%= documents[i].filename %></span></h3></center><br/>
                    <div class="fileActions">
                        <img class="pic" src="/static/Icons/pdf.png">
                        <form method="POST" action="readPdf">
                            <input type="hidden" name="filepath" value="<%=documents[i].path%>"/>
                            <center><input class="btn" type="submit" value="Read"/></center><br/>
                            <center><a href="/media/<%=documents[i].path%>" class="btn" download><img class="small" src="/static/Icons/download.png"></a></center>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>