<div class="topbarner">
    <ul class="topnav">
        <a href="/videos"><li><img class="small" src="/static/Icons/video.png"></li></a>
        <a href="/audio"><li><img class="small" src="/static/Icons/audio.png"></li></a>
        <a href="/documents"><li><img class="small" src="/static/Icons/documents.png"></li></a>
        <a href="/pictures"><li><img class="small" src="/static/Icons/pic.png"></li></a>
        <a href="/text"><li><img class="small" src="/static/Icons/text.png"></li></a>
        <a href="/compressed"><li><img class="small" src="/static/Icons/zip.png"></li></a>
    </ul>
</div>