<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text|Code</title>
    <link rel="stylesheet" href="/static/CSS/index.css"/>
    <link rel="stylesheet" href="/static/CSS/actions.css"/>
    <link rel="stylesheet" href="/static/CSS/media.css"/>
</head>
<body>
    <div class="sidebarner"></div>
    <% include templates/header.ejs %>
    <div class="content" style="color:white;">
        <% for(var i=0;i < text.length;i++){%>
                <div class="container">
                    <div class="file">
                        <center><span><h3><%= text[i].filename %></h3></span></center><br/>
                        <div class="fileActions">
                            <img class="pic" src="/static/Icons/text.png">
                            <form method="POST" action="readFile">
                                <input type="hidden" name="filepath" value="<%=text[i].path%>"/>
                                <input class="btn" type="submit" value="ReadFile"/><br/>
                                <center><a href="/media/<%=text[i].path%>" class="btn" download><img class="small" src="/static/Icons/download.png"></a></center>
                            </form>
                        </div>
                    </div>
                </div>
        <% } %>
    </div>
</body>
</html>