body{
	padding:0px;
	margin:0px;
	background-color: whitesmoke;
}
div.topBarner{
	position: fixed;
	top:0px;
	width: 100%;
	background: #3489DB;
	text-align: center;
	color:white;
	z-index: 3;
}
ul.horizontalList{
	list-style: none;
	display: inline-block;
	padding:0px;
}
ul.horizontalList li{
	display: inline-block;
	padding:10px;
	margin-left: 20px;
	border-radius: 5px;
	border:1px solid white;
	cursor: pointer;
}
ul.horizontalList li.active{
	background: white;
	color: #3489DB;
}
ul.horizontalList li:hover{
	transition: 0.3s;
	border-top:none;
	border-left:none;
	border-right:none;
	background: white;
	color:#EB4D4B;
	border-bottom: 2px solid #EB4D4B;
}
p.outcast{
	padding: 0px;
	color:#EB4D4B;
	display: inline-block;
	text-transform: uppercase;
	animation-delay: 0s;
	animation: 2s rotateText;
	font-size: 30px;
	margin: 0px;
}
h3{
	display: inline-block;
	padding: 0px;
}
@keyframes rotateText{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(720deg) scale(1.05);
	}
	100%{
		transform: rotate(0deg);
	}
}
div.content{
	position: relative;
	left:50%;
	background: white;
	padding: 20px;
	transform: translateX(-50%);
}
video{
	height:175px;
	width:200px;
	margin-right:10px;
}
img{
	height:175px;
	width:200px;
}
video:hover div.videoDetails{
	display: block;

}
.center{
	text-align: center;
}
div.Videocontent{
	position: relative;
	left:50%;
	min-height:300px;
	background: white;
	padding: 20px;
	transform: translateX(-50%);
	display:inline-flex;
}
div.videoModule{
	margin:30px 30px;
	position: relative;
	padding:10px;
	color:black;
	min-height:250px;
	width:250px;
	background:rgb(100,100,255);
}
div.module{
	margin-bottom:20px;
	position: relative;
	padding:10px;
	color:black;
}
div.videoDetails{
	overflow-x:hidden;
	padding:10px;
	color:white;
	position: relative;
	background:#3489DB;
	border-radius: 15px;
	font-size: 12;
}
div.videoDetails:hover{
	overflow: visible;
}
div.hidden{
	visibility: none;
}
div.iconMenu{
	width:50px;
	height:50px;
	padding:0px;
	position: relative;
	left:40px;
	display: none;
}
div.line{
	position: relative;
	width: 100%;
	height:10px;
	background: white;
	margin:0px 10px;
}
@media only screen and (max-width:700px){
	div.Videocontent{
		display:block;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	div.videoModule{
		margin:30px 0px;
		width:90%;
	}
	ul.horizontalList{
		position:fixed;
		bottom:0px;
		width:100%;
		left:0px;
	}
	ul.horizontalList li{
		display: inline;
		background:#3489DB;
		margin:0px;
	}
	div.iconMenu{
		display: block;
	}
}