<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audio</title>
    <link rel="stylesheet" href="/static/CSS/index.css"/>
    <link rel="stylesheet" href="/static/CSS/actions.css"/>
    <link rel="stylesheet" href="/static/CSS/media.css"/>
</head>
<body>
    <div class="sidebarner"></div>
    <% include templates/header.ejs %>
    <div class="content" style="color:white;">
        <% for(var i=0;i < audio.length;i++){%>
            <div class="container">
                <div class="media">
                    <audio src="/media/<%=audio[i].path%>"controls/>
                </div>
                <div class="links">
                    <center><span><%= audio[i].filename %></span></center><br/>
                    <center><a href="#"><img class="small" src="/static/Icons/download.png"></a></center>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>