<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zip Files</title>
    <link rel="stylesheet" href="/static/CSS/index.css"/>
    <link rel="stylesheet" href="/static/CSS/actions.css"/>
    <link rel="stylesheet" href="/static/CSS/media.css"/>
</head>
<body>
    <div class="sidebarner"></div>
    <div class="topbarner">
        <ul class="topnav">
            <a href="/videos"><li><img class="small" src="/static/Icons/video.png"></li></a>
            <a href="/audio"><li><img class="small" src="/static/Icons/audio.png"></li></a>
            <a href="/documents"><li><img class="small" src="/static/Icons/documents.png"></li></a>
            <a href="/text"><li><img class="small" src="/static/Icons/text.png"></li></a>
            <a href="/compressed"><li><img class="small" src="/static/Icons/pen.png"></li></a>
        </ul>
    </div>
    <div class="content" style="color:white;">
        <% for(var i=0;i < comp.length;i++){%>
            <div class="container">
                <div class="media">
                    <video src="/media/<%=comp[i].path%>"controls/>
                </div>
                <div class="links">
                    <center><span><%= comp[i].filename %></span></center><br/>
                    <center><a href="#"><img class="small" src="/static/Icons/download.png"></a></center>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>