<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pyn</title>
    <link rel="stylesheet" href="/static/CSS/index.css"/>
    <link rel="stylesheet" href="/static/CSS/css/all.css"/>
</head>
<body>
    <div class="topbarner">
        <h2>Py<i>N</i><i class="fab fa-facebook-f"></i></h2>
        <div>
            <a href="#"><button>About</button></a>
            <a hre="#"><button>Details</button></a>
        </div>
    </div>
    <div class="maincontent">
        <a href="/videos">
            <div class="module" style="background-image: url('/static/BG/video.png')">
                <div class="bottom" >
                    <h3>Videos</h3>
                </div>
            </div>
        </a>
        <a href="/audio">
            <div class="module" style="background-image: url('/static/BG/audio.png')">
                <div class="bottom" >
                    <h3>Audio</h3>
                </div>
            </div>
        </a>
        <a href="/documents">
            <div class="module" style="background-image: url('/static/BG/document.jpg')">
                <div class="bottom" >
                    <h3>Documents</h3>
                </div>
            </div>
        </a>
        <a href="/text" >
            <div class="module" style="background-image: url('/static/BG/text.jpg')">
                <div class="bottom" >
                    <h3>Text</h3>
                </div>
            </div>
        </a>
        <a href="/compressed">
            <div class="module" style="background-image: url('/static/BG/folder.png')">
                <div class="bottom" >
                    <h3>Folders</h3>
                </div>
            </div>
        </a>
        <a href="/pictures">
            <div class="module" style="background-image: url('/static/BG/picture.jpg')">
                <div class="bottom" >
                    <h3>Pictures</h3>
                </div>
            </div>
        </a>
    </div>
    <script src="/static/JS/app.js"></script>
</body>
</html>