<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div class="sidebarner"></div>
    <div class="topbarner">
        <ul class="nav">
            <a href="/videos"><li>Videos</li></a>
            <a href="/audio"><li>Audio</li></a>
            <a href="/documents"><li>Documents</li></a>
            <a href="/text"><li>Text</li></a>
            <a href="/compressed"><li>Compressed</li></a>
        </ul>
    </div>
    <div class="maincontent"></div>
</body>
</html>