$pDark:#2F3542;
$pColor:#0984e3;
$fontLight:white;
$fontDark:#1e90ff;
a{
    text-decoration: none;
}
ul.topnav{
    list-style: none;
}
li{
    background: $fontLight;
    display: inline;
    padding:10px;
    border-radius: 50%;
    text-align: center;
    margin:0px 10px;
}
.small{
    height:20px;
    width:20px;
    vertical-align: middle;
}